@model User
<div>

    @if (Model == null)
    {
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Вход</a>
    }
    else
    {
        <p class="nav-link text-dark">
            <a asp-controller="Personal" asp-action="Index">@Model.UserName</a> <a asp-controller="Account" asp-action="Logout">Выход</a>
        </p>

    }
</div>