@model PetProjectMVC.Models.ViewModels.LoginModel
<h2>Вход в приложение</h2>
<form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">

    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="UserEmail">Имя пользователя</label><br />
        <input asp-for="UserEmail" />
        <span asp-validation-for="UserEmail"></span>
    </div>
    <div>
        <label asp-for="Password">Пароль</label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <br />
    <div>
        <input class="btn btn-primary" type="submit" value="Войти" />
    </div>
</form>

<a asp-action="Register">Создать админа</a>