@model string

<form method="post" asp-action="Create">

    <p>
        <label>Название роли</label>
        <input type="text" name="name" />
    </p>
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>